@font-face{
    src: url(../fonts/Poppins-Regular.ttf);
    font-family: Poppins;
  }
*, html, body{
    padding: 0;
    border: 0;
    font-family: Poppins, sans-serif;
}
#dark{
    background-color: #333;
    color: #ccc;
}
#dark-header{
    background-color: #222;
    color: #fff;
}
.menu{
    width: 300px;
    height: 100%;
    position: fixed;
    background-color: #fff;
}
.logo_banner{
    width: 30px;
}
.content{
    width: calc(100% - 300px);
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    overflow-y: auto;
    padding-bottom: 40px;
}
.content-header{
    height: 40px;
    line-height: 40px;
    position: fixed;
    width: calc(100% - 300px);
    padding: 0px 10px;
    z-index: 1;
    background-color: #ccc;

}
.content-context{
    margin-top: 40px;
    padding: 10px;
}
.menu-header{
    height: 40px;
    line-height: 40px;
    padding: 0px 10px;
    background-color: #ccc;
    z-index: 1;
}
.webname{
    font-size: 1.2em;
}
.text-sm{
    font-size: 14px;
}
nav{
    padding: 10px;
}
.ul_menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.ul_menu #li_light{
    margin: 15px 0px;
    width: 100%;
    padding-left: 10px;
    border-radius: 4px;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
}
.ul_menu #li_light:hover{
    background-color: #f1f1f1;
}
.ul_menu #li_dark{
    margin: 15px 0px;
    width: 100%;
    padding-left: 10px;
    border-radius: 4px;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
}
.ul_menu #li_dark:hover{
    background-color: #222;
}
.avatar{
    width: 32px;
    margin-top: -2px;
    margin-left: -2px;
}
.li_profile{
    position: relative;
}
.profile_handler{
    position: absolute;
    width: 40px;
    line-height: 30px;
    height: 40px;
    border-radius: 50%;
    margin-top: px;
    margin-left: -10px;
    overflow: hidden;
    z-index: 2;
    background-color: #ffdead;
}
.avatar_profile{
    width: 50px;
    margin-top: -20px;
}
.ul_menu li > a{
    text-decoration: none;
    display: block;
    color: #808080;
}
.userfullname{
    margin-left: 38px;
}
.glyph-md{
    font-size: 1.4em;
}
.color-yg{
    color: #5cb973;
    background: transparent;
}
.color-b{
    color: #1e90ff;
    background: transparent;
}
.color-v{
    color: #cd00cd;
    background: transparent;
}
.color-o{
    color: #ff9900;
    background: transparent;
}
.color-y{
    color: #ffd700;
    background: transparent;
}
.color-p{
    color: #cd5c5c;
    background: transparent;
}
.color-g{
    color: green;
    background: transparent;
}
.color-r{
    color: #f08080;
}
.color-cy{
    color: #00ffff;
}
.color-lg{
    color: #808080;
}
.color-do{
    color: #db6940;
}
.ul-header{
    list-style-type: none;
}
.ul-header li{
    display: inline-block;
    margin: 0px 10px;
    font-size: 1.2em;
    color: #fff;
}
.burger{
    display: none;
}
.ul-header{
    float: right;
}
.burger{
    float: right;
    margin-top: 8px;
    right: 10px;
    font-size: 1.5em;
    cursor: pointer;
}
.burger:hover{
    opacity: .8;
}
.logout{
    text-decoration: none;
    color: #808080;
}
.logout:hover{
    color: #cd5c5c;
}
/* .wrapper-handler{
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
} */
.rot{
    width: 18px;
}
.btn-block{
    width: 100%;
}
.pointer{
    cursor: pointer;
}
/* .close_room_list{
    float: right;
    font-size: 1.2em;
    font-weight: bold;
    color: #ff0000;
    cursor: pointer;
} */
.cont{
    border-radius: 10px;
    border: 1px solid #ccc;
}
.cont-header{
    border-bottom: 1px solid #ccc;
    padding: 10px;
}
.cont-body{
    padding: 10px;
}
.inner{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: rgba(0,0,0,0.7);
    display: none;
    overflow-y: auto;
}
.outer{
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 50px auto;
    width: 70%;
    z-index: 3;
}
.close_inner{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 2em;
    font-weight: bold;
    color: #ff0000;
    cursor: pointer;
}
.close_inner:hover{
    color: #cd5c5c;
}
.rot2{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.flexbox{
    display: flex;
}
.tbl_fetch_vacant{
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
}
.tbl_fetch_vacant td{
    padding: 6px;
    border: 1px solid #ccc;
}
.tbl_fetch_vacant tr:hover{
    opacity: .8;
}
.dashed{
    border: 2px dashed #ccc;
    margin-top: 10px;
    border-radius: 10px;
}

#inp_checkin_amount_given{
    font-weight: bold;
}
.form-control-room-status{
    background-color: transparent;
    border: 1px solid transparent;
    color: #808080;
    font-weight: bold;
}
.form-control-room-status:hover{
    background-color: #e6e6fa;
}
.flexbox-room-status{
    width: 25%;
}
.tbl_room_infos{
    width: 100%;
    border-collapse: collapse;
}
.tbl_room_infos td{
    padding: 5px;
    border: 1px solid #f1f1f1;
}
.tbl_room_infos tr:hover{
    opacity: .8;
}
#cont_act_holder{
    height: 300px;
    overflow-y: auto;
}
.act-cont{
    border-radius: 15px;
    margin: 0px auto;
    width: 98%;
}

.act-cont-header{
    border-top-left-radius: 15px 15px;
    border-top-right-radius: 15px 15px;
    padding: 10px;
    position: relative;
}
.act_dt{
    position: absolute;
    margin-left: 40px;
    margin-top: -12px;
}

.act_light{
    padding: 20px;
    background-color: #e6e6fa;
    border-radius: 10px;
    color: #000;
    position: relative;
}
.act_light:after{
    content: "";
    width: 0;
    height: 0;
    border-bottom: 10px solid #e6e6fa;
    border-left: 10px solid transparent;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    top:  -18px;
    left: 20px;
}

.act_dark{
    padding: 20px;
    background-color: #222;
    border-radius: 10px;
    color: #ccc;
    position: relative;
}
.act_dark:after{
    content: "";
    width: 0;
    height: 0;
    border-bottom: 10px solid #222;
    border-left: 10px solid transparent;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    top:  -18px;
    left: 20px;
}

.pointing-arrow-cont-light{
    position: relative;
    background-color: #e6e6fa;
    color: #000;
    border-radius: 5px;
    padding: 10px;
}
.pointing-arrow-cont-light:after{
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid #e6e6fa;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    bottom: -20px;
    left: 8px;
}

.pointing-arrow-cont-dark{
    position: relative;
    background-color: #000;
    color: #ccc;
    border-radius: 5px;
    padding: 10px;
}
.pointing-arrow-cont-dark:after{
    content: "";
    width: 0;
    height: 0;
    border-top: 10px solid #000;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    bottom: -20px;
    left: 8px;
}
.act_avatar{
    width: 40px;
    border-radius: 4px;
}
.check_out_alert_dark{
    position: absolute;
    top: 10px;
    right: 100px;
    z-index: 3;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: alert_dark 1s infinite;
    text-align: center;
    line-height: 15px;
    font-size: 1.3em;
    color: #ff0000;
}
@keyframes alert_dark {
    0%{
        box-shadow: 0px 0px 1px #ff0000;
        transform: rotate(0deg);
    }
    50%{
        box-shadow: 0px 0px 40px #ff0000;
        transform: rotate(20deg);
    }
    100%{
        box-shadow: 0px 0px 0px #ff0000;
        transform: rotate(-20deg);
    }
}

.check_out_alert_light{
    position: absolute;
    top: 10px;
    right: 100px;
    z-index: 3;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    animation: alert_light 1s infinite;
    text-align: center;
    line-height: 15px;
    font-size: 1.3em;
    color: #cd00cd;
}
@keyframes alert_light {
    0%{
        box-shadow: 0px 0px 1px #cd00cd;
        transform: rotate(0deg);
    }
    50%{
        box-shadow: 0px 0px 40px #cd00cd;
        transform: rotate(20deg);
    }
    100%{
        box-shadow: 0px 0px 0px #cd00cd;
        transform: rotate(-20deg);
    }
}

.tbl_soon_out{
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
}
.tbl_soon_out td{
    border: 1px solid #ccc;
    padding: 5px;
}
.btn_edit_room_type{
    float: right;
}
.tbl_customize_room{
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}
.tbl_customize_room td{
    padding: 5px;
    border: 1px solid #ccc;
}
.profile_pic{
    width: 30%;
    border-radius: 4px;
}
.pic{
    display: none;
}
@media screen and (max-width: 600px){
    #nav{
        background-color: rgba(0,0,0,0.8);
    }
    .menu{
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;
        background-color: rgba(0,0,0,0.6);
    }
    .content{
        width: 100%;
        height: 100%;
        position: fixed;
        margin-top: 40px;
        overflow-y: auto;
    }
    .content-header{
        height: 40px;
        line-height: 40px;
        position: fixed;
        width: 100%;
        padding: 0px 10px;
        z-index: 1;
    }
    .menu-header{
        
        box-shadow: 0px 0px 0px transparent;
    }
    .ul_menu li > a{
        text-decoration: none;
        display: block;
        color: #808080;
    }
    .burger{
        display: block;
    }
    nav{
        display: none;
    }
    .show_nav{
        display: block;
    }
    .outer{
        width: 90%;
    }
    .logout{
        color: #808080;
    }
    .tbl_soon_out{
        width: 100%;
    }
    .tbl_soon_out td{
        padding: 3px;
    }
    .tbl_customize_room{
        width: 100%;
    }
    .profile_pic{
        width: 50%;
    }
}
